@import './core/reset';
@import './core/variables';

.App {
  text-align: center;
  padding: 20px;
}

.ppalTitle {
  color: $color;
  font-family: $font-family;
  font-weight: 400;
  line-height: 2;
}

.secondTitle {
  color: $secondColor;
  font-family: $font-family;
  font-weight: 400;
}

.fonts {
  color: $secondColor;
  font-family: $font-family;
  font-size: large;
  font-weight: 400;
  line-height: 2;
}

.colors {
  color: $secondColor;
  font-family: $font-family;
  font-size: large;
  font-weight: 400;
  line-height: 2;
}

.img {
  width: 500px;
  height: auto;
}

.containerMeme {
  position: relative; /* Permitir la superposición */
  margin: 20px 0; /* Espacio alrededor del meme */
}

.textTop {
  
  font-size: 2rem;
  text-shadow: 2px 2px 5px black;
  
  cursor: move; /* Indica que se puede mover */
}

.textBottom {
  
  font-size: 2rem;
  text-shadow: 2px 2px 5px black;
  
  cursor: move; /* Indica que se puede mover */
}

.select {
  margin: 10px;
  padding: 5px;
  border: none;
  font-family: $font-family;
  color: $color;
}

.input {
  margin: 10px;
  padding: 5px;
  border: 2px $secondColor solid;
}

.inputColor {
  border: none;
  margin: 10px;
  padding: 4px;
}

::placeholder {
  font-family: $font-family;
  color: $color;
}

.btn {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: $color;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #45a049;
}
